.home-text-container {
    padding: 27px 0 0 41px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.020em;
}

.home-text-container h1 {
    color: black;
    font-size: 48px;
    letter-spacing: -0.020em;
}

.btn-start {
    margin: 35px 0 0 41px;
    border-radius: 5px;
    color: white;
    background-color: #1890FF;
    border: unset;
    width: 100px;
    height: 40px;
}